<h1>These people have signed:</h1>

<table>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
        <th></th>
    </tr>
{{#signers}}
    <tr>
        <td></td>
        {{#if url}}
        <td><a target="_blank" class="link" href="{{../signersUrl url}}">{{firstname}} {{lastname}}</a></td>
        {{else}}
        <td>{{firstname}} {{lastname}}</td>
        {{/if}}
        <td class="age">{{ age }}</td>
        <td><a class="link" href="/signers/{{city}}">{{ city }}</a></td>
        <td></td>
    </tr>
{{/signers}}
</table>
